 body {
    margin: 0;
    padding: 0;
    background-image: url('Illustration_sans_titre.jpg'); /* Remplacez 'fond.jpg' par le lien de votre image de fond */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    font-family: 'OCR A Std', monospace;
}

#countdown {
    font-size: 5em;
    text-align: center;
    margin-top: -220px;
    max-width: 147%;
    
}
#redirect-link {
    display: none;
    text-align: center;
    margin-top: -100px;
}
#redirect-link a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
#social-media {
    position: fixed;
    bottom: 0;
    left: 10;
    width: 99% ;
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 30px;
}
#social-media img {
    width: 137px; /* Ajustez la taille des logos selon vos besoins */
    height: 80px;
}

@media only screen and (max-width: 600px) {
            /* Styles spécifiques pour les écrans de 600 pixels de largeur ou moins (typiquement des téléphones) */
            #countdown {
                font-size: 35px; /* Remplacez la valeur par celle que vous préférez */
                }
             
  }

@media only screen and (max-width: 600px) {
           img {
              width: 95%; /* Assurez-vous que l'image occupe toute la largeur du conteneur */
              height: auto; /* Permet à la hauteur de s'ajuster automatiquement pour maintenir les proportions */
               }
 }
