 body {
    margin: 0;
    padding: 0;
    background-image: url('fond.jpg'); /* Remplacez 'fond.jpg' par le lien de votre image de fond */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    font-family: 'OCR A Std', monospace;
}
#countdown-container {
    position: relative;
    max-width: 80%;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.7); /* Couleur de fond noir avec une opacité de 0.8 */
    padding: 20px; /* Espacement intérieur du conteneur */
    border-radius: 30px; /* Bordure arrondie du conteneur */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombre légère pour créer un effet de profondeur */
    box-sizing: border-box;
   
}
#countdown {
    font-size: 5em;
    text-align: center;
    margin-top: -290px;
    max-width: 147%;
    
}
#redirect-link {
    display: none;
    text-align: center;
    margin-top: -100px;
}
#redirect-link a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
#social-media {
    position: fixed;
    bottom: 0;
    left: 10;
    width: 99% ;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 0px;
    box-sizing: border-box;
    border-radius: 30px;
}
#social-media img {
    width: 137px; /* Ajustez la taille des logos selon vos besoins */
    height: 80px;
}

@media only screen and (max-width: 600px) {
            /* Styles spécifiques pour les écrans de 600 pixels de largeur ou moins (typiquement des téléphones) */
            #countdown {
                margin-top: -200px;
                font-size: 26px; /* Remplacez la valeur par celle que vous préférez */
                max-width: 170%;
                }
             
  }
@media only screen and (max-width: 600px) {
            /* Styles spécifiques pour les écrans de 600 pixels de largeur ou moins (typiquement des téléphones) */
           
  #countdown-container {
    position: relative;
    max-width: 90%;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.7); /* Couleur de fond noir avec une opacité de 0.8 */
    padding: 20px; /* Espacement intérieur du conteneur */
    border-radius: 30px; /* Bordure arrondie du conteneur */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombre légère pour créer un effet de profondeur */
    box-sizing: border-box;
 }

@media only screen and (max-width: 600px) {
           img {
              width: 95%; /* Assurez-vous que l'image occupe toute la largeur du conteneur */
              height: auto; /* Permet à la hauteur de s'ajuster automatiquement pour maintenir les proportions */
               }
 }
